/* Core stylesheet for DevTools UI. */

@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local("SFMono-Regular"),
    local(Consolas),
    local("Liberation Mono"),
    local(Menlo),
    local(Courier),
    local(monospace);
  }

html {
    font-family: var(--main-font);
    background-color: var(--bg-color);
    color: var(--text-color);
}

::-webkit-scrollbar { 
    display: none; 
}

.tab {
    display: none;
    position: relative;
    padding: 0;
}

.tab.active {
    display: initial;
}

.maint {
    background-color: var(--diff-color-b);
}

.panel {
    border: 1px solid var(--line-color);
    border-top: 0;
    margin-bottom: 0.5em;
}

.panel-header {
    background-color: var(--diff-color-a);
    display: block;
    text-align: center;
    font-variant: small-caps;
    font-size: 1.2em;
}

.panel-div:not(:first-child) {
    margin-top: 1em;
}

.panel-div-title {
    display: block;
    margin-bottom: 0.25em;
    font-size: 1.1em;
    text-decoration: underline var(--text-color) solid;
}


.tablist {
    margin-bottom: 0.5em;
    padding: 0;
}

.nav-tab {
    display: inline-block;
    margin-top: 0.25em;
    padding: 0.3em;
    background-color: var(--diff-color-a);
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}


.display {
    display: inline-block;
    border: 1.7px solid var(--diff-color-a);
    padding: 0.2em;
    vertical-align: top;
    margin: 0.1em 0;
}

#time .display {
    text-align: center;
}

.group {
    display: inline-block;
    margin-right: 0.3em;
    vertical-align: top;
    margin-bottom: 0.7em;
}
.group-cont {
    margin-bottom: -0.7em;
}

.timer-display {
    display: block;
    font-size: 1.7em;
    line-height: 0.9em;
}

#timer-st-time .timer-display {
    font-size: 1em;
    line-height: 0.7em;
    margin-bottom: 0.5px;
}

.div-hor {
    display: inline-block;
}

.div-hor:not(:last-child) {
    margin-right: 0.5em;
}

.value-display {
    clear:both;
/*    text-align: right*/
}

.value-display > * {
    margin-left: 0.25em;
    float:right;
}

.max-value {
    opacity: 0.6;
    position: relative;
    top: 2px;
    font-size: 0.9em;
    margin-left: 0.1em;
}

.current-value {
    position: relative;
    bottom: 2px;
    font-size: 1.1em;
    margin-right: 0.15em;
}

#time {
    text-align: center;
}

#time .display-title {
    opacity: 0.75;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
/*    padding-left: 1em;*/
}

.hidden {
    display: none !important;
}
.highlight {
    background-color: var(--highlight-color);
}

.tab-view-list {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.tab-view {
    display: inline-block;
    margin-right: 0.1em;
    padding: 0.2em;
    vertical-align: baseline;
    line-height: 1;
    cursor: pointer;
/*    background-color: var(--diff-color-b)*/
}

.nav-tab.active,
.tab-view.active {
    background-color: var(--selection-color)
}

.collection-item {
    display: inline-block;
    text-align: center;
    margin: 0.1em;
}

.collection-icon {
    height: 3.5em;
    width: 3.5em;
    display: inline-block;
}

.spacer {
    margin-bottom: 0.5em;
}
.sep {
    margin-bottom: 0.4em;
    padding-bottom: 0.4em;
    border-bottom: 1px solid var(--line-color);
}
.sep-v {
    margin-left: 0.25em;
    margin-right: 0.25em;
    padding-left: 0.5em;
    border-left: 1px solid var(--line-color);
}

.panel-content {
    margin: 0.2em;
}

.panel-content > span{
    display: block;
}

.panel-filter {
/*    margin: 0.5em;*/
    margin-bottom: 0.5em;
}

.panel-filter li {
    display: inline-block;
    opacity: 0.5;
    margin-right: 0.2em;
}

.panel-filter li.active{
    opacity: 1;
    background-color: initial;
}



.panel-filter ul {
    display: inline-block;
    margin-right: 1em;
}



.view {
    display: none;
}

.view.active {
    display: initial;
}

.supply-list {
    text-align: justify;
}

.time-s {
    opacity: 0.6;
    font-size: 0.6em;
}

select, option {
    background-color: var(--bg-color);
    color: inherit;
    border-color: var(--diff-color-a)
}

.planner-current {
    font-size: 1.4em
}
.planner-needed {
    opacity: 0.5;
}

.fade {
    opacity: 0.3;
}
.warn {
    background-color: var(--diff-color-b)
}

/* Raids */
#raids-list a {
    color: inherit;
    text-decoration: none;
}
.raid {
    display: grid;
    /* grid-template-columns: 60px auto; */
    grid-template-rows: 1fr;
    grid-template-areas: "thumb data toggle";
    align-items: center;
    margin-bottom: 5px;
}
.raid * {
    vertical-align: middle;
/*    margin-right: 2em;*/
}
.raid-icon {
    height: 3em;
    grid-area: thumb;
    margin-right: 0.5em;
/*    width: calc(20% - 2em);*/
}
.raid-data {
    display: grid;
    grid-area: data;
    align-items: center;
    /* grid-template-columns: 1fr 50px 80px 2fr; */
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 100%;
    grid-template-areas: "name cost mat hosts";
}
.raid-name {
    grid-area: name;
    min-width: 125px;
    /* line-height: 2em; */
    cursor: pointer;
}
.raid-name:hover {
    background-color: var(--highlight-color);
}
.raid-cost {
    grid-area: cost;
}
.raid-cost:not(:empty)::after {
    content: " AP";
}
.raid-host-mats {
    grid-area: mat;
    min-width: 80px;
}
.raid-mat-icon {
    height: 1.5em;
}
.raid-mat {
    margin: 2px;
    cursor: pointer;
}
.raid-mat * {
/*    Needed for hosting script*/
    pointer-events: none;
}
.raid-mat:hover {
    background-color: var(--highlight-color);
}
.mat-group .raid-mat:not(:last-child)::after {
    content: "\2938";
    top: 1em;
    position: relative;
}
.raid-hosts {
    grid-area: hosts;
    display: inline-block;
    margin-right: 0;
}
.raid-toggle {
    grid-area: toggle;
}
.raid-toggle:before {
    content: "X";
/*    cursor: pointer;*/
    font-size: 1.2em;
    color: var(--diff-color-c);
}

.canvas-container {
    width: 100%;
    position: relative;
    /* Required when not forcing AR in chart.js */
    max-height: 40vh;
    min-height: 20vh;
    height: 40vw;
}
.canvas-container.chara-graph {
    max-height: 25vh;
}

button {
/*    background-color: var(--diff-color-a);*/
/*    background-color: inherit;*/
    background-color: rgba(128, 128, 128,0.4);
    color: inherit;
    border: none;
/*    border: 2px solid var(--diff-color-a);*/
    padding: 0.3em;
    line-height: 1;
}

/* Battle */
.battle-char-container {
    width: 32%;
    margin: 0.5em 0.2em;
    display: inline-block;
    vertical-align: top;
}
.battle-stats-container { /*Used only for chars it seems*/
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}
.battle-stats-container .battle-stats-container { /*Nested*/
    grid-area: auto / left /auto / right;
}
.battle-stats-container .sep, .battle-stats-container .spacer {
    grid-area: auto / left / auto / right;
}
.battle-stats {
    display: inline-block;
}
.group .battle-stats {
    display: block;
}

.battle-char-name, .battle-boss-name {
    text-align: center;
    background-color: rgba(255,255,255,0.2);
}

.centered {
    text-align: center;
}

#raid-info-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
    grid-row-gap: 1px;
}
#raid-code {
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.2em;
    line-height: 1;
    /* cursor: pointer; */
}
#raid-code:hover {
    background-color: var(--highlight-color);
}
#raid-current-drop-list {
    padding: 0.5em;
}
.raid-current-drop {
    display: inline-block;
    text-align: center;
    margin: 0.15em 0.15em;
    vertical-align: top;
}
.raid-current-drop img {
    max-width: var(--icon-size-raid-info);
}
.raid-current-drop span {
    display: block;
    max-width: var(--icon-size-raid-info);
/*    max-height: 2.4em;*/
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}
.raid-current-drop[data-chest-type='2'] {
    background-color: var(--chest-color-silver);
}
.raid-current-drop[data-chest-type='3'] {
    background-color: var(--chest-color-gold);
}
.raid-current-drop[data-chest-type='4'] {
    background-color: var(--chest-color-red);
}
.raid-current-drop[data-chest-type='11'] {
    background-color: var(--chest-color-blue);
}

[data-event] {
    cursor: pointer;
}
[data-event=navigate] * {
    pointer-events: none;
}

#raid-next-quest {
    background-color: var(--diff-color-b);
    font-size: 1.5em;
}

#inactive {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.65);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
    text-align: center;
}

.place-link {
    padding: 0.1em;
}

.place-link:hover {
    background-color: var(--selection-color);
}

#last-hosted-quest:not(:empty)::after {
    content: " \21BB";
    /* content: " \27F3"; */
    font-size: 1.2em;
}

.buffTimer {
    margin-right: 0.2em;
    font-size: 0.8em;
}

.buffTimer img {
    height: 22px;
}

.small-log {
    font-size: 0.75em;
    background-color: black;
    opacity: 0.5;
    white-space: pre-line;
    grid-template-columns: 1fr;
}

@media (max-width: 450px) {
    .battle-char-container {
        width: 48%;
        margin: 0.2em 2px;
    }

    .raid-data {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "cost mat hosts";
    }
    .raid-name {
        display: none;
    }
    .raid-icon {
        height: 6em;
        margin-right: 0.5em;
    }
}

.battle-warn {
    text-align: center;
    background-color: var(--diff-color-c);
    margin: 0.2em 0;
}

.header {
    text-align: center;
    font-size: 1.2rem;
}

#battle-boss-trigger-name {
    color: var(--highlight-color);
}

#battle-boss-name {
    text-decoration: underline;
    font-weight: bold;
}

.indent {
    padding-left: 1em !important;
}

#battle-boss-ougi-list {
    margin: 0.25em 0;
}

#battle-boss-ougi-list li {
    list-style-type: square;
}

/*
.battle-boss-container {
    width: 32%;
    margin: 0.5em 0;
    display: inline-block;
}
*/


.battle-stats span {
    color: var(--highlight-color);
}
.expander {
    text-align: center;
}
.battle-stats-container .expander {
    margin-top: 0.4em;
    grid-area: auto / left / auto / right;
}

#spark-prog-reset {
    width: 100%;
}

/** DJEETA SCRIPT **/

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

.menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #2c2c30;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
    z-index: 1;
}

.menu-button {
    padding: 6px 10px;
}

.menu-content a {
    float: none;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu-content a:hover {
    background-color: #444;
}

.menu-button {
      border: none;
}

.menu-content.show {
    display: block;
}

#dialog-container {
    display: none;
    position: absolute;
    background-color: #2c2c30;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
    z-index: 1;    
    grid-template-rows: auto 160px auto;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "title close"
        "list list"
        "prompt button";
    column-gap: 6px;
    row-gap: 4px;
    padding: 4px;
    border: 1px solid white;
}

#dialog-container.show {
    display: grid;
}

#dialog-container .list {
    overflow-y: scroll;      
    grid-area: list;
    padding: 2px;
    border: 0.5px dotted #bbb;
}

#dialog-container .button {
    grid-area: button;
    padding: 4px 10px;
}

#dialog-container .close {
    grid-area: close;
    padding: 2px 8px;    
    justify-self: end;
    align-self: center;
    cursor: pointer;
}

#dialog-container .title {
    grid-area: title;
}

#dialog-container .prompt {
    grid-area: prompt;    
}

#dialog-container .list > a {
    float: none;
    padding: 4px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#dialog-container .list > a:hover {
    background-color: #444;
}

/* Rounded sliders */
.slider.round {
    border-radius: 22px;
}

.slider.round:before {
    border-radius: 50%;
}

.djeeta-code-container {    
    width: 500px;
    height: 300px;
}

.djeeta-code {
    font-family: "system";
    font-size: 140%;    
    width: 100%;
    margin: 0.2em 2px;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100%;    
    padding: 3px;
}

.code-tab {
    display: none;
    position: relative;    
    width: 100%;
    height: 100%;
}

.code-tab.active {
    display: block;
}

#master-dashboard {    
    width: 500px;
    height: 100px;
}

.script-dashboard {
    position: relative;
    display: block;        
}

#script-console {    
    position: absolute;
    bottom: 2px;
    height: 30px;
    left: 2px;
    right: 2px;
    font-family: "system";
}

#action-queue {
    position: absolute;
    bottom: 34px;
    height: 30px;
    left: 2px;
    right: 2px;
    font-family: "system";
    display: flex;
}

#script-tracker {
    background-color: rgba(4,221,2,0.05);
}

#script-editor {
    background-color: rgba(4,4,221,0.05);
}

#script-runner {
    background-color: rgba(221,4,2,0.05);
}

#script-runner > div.error {
    color: rgba(255, 255, 255, 0.8);
}

div.error span.error {
    text-decoration: line-through;
    background-color: darkred;
}

.dashboard-component {
    position: relative;
    display: flex;
    align-items: center;
}

.dashboard-component > *:nth-child(n+2) {
    margin-left: 5px;
}

.dashboard-component > span {
    color: white;
    pointer-events: none;    
}

/* common djeeta props */

.unit-hp-progress-outer {
    display: block;    
    background: rgba(21,15,15,0.7);    
    height: 15px;             
    overflow: hidden;
}

.unit-conditions {
    display: flex;
    flex-wrap: wrap;
}

.unit-conditions > img {
    width: 20px;
    height: 20px;
}

.unit-element-icon {
    display: block;
    background: url(http://game-a.granbluefantasy.jp/assets_en/img_mid/sp/ui/icon/type-s657b22c8a5.png) no-repeat;
    -webkit-background-size: 42px 588px;
    background-size: 42px 588px;
    width: 13px;
    height: 13px;
}

.unit-element-icon[attr="1"] {
    background-position: 0 -540px;
}

.unit-element-icon[attr="2"] {
    background-position: 0 -523px;
}

.unit-element-icon[attr="3"] {
    background-position: 0 -506px;
}

.unit-element-icon[attr="4"] {
    background-position: 0 -454px;
}

.unit-element-icon[attr="5"] {
    background-position: 0 -488px;
}

.unit-element-icon[attr="6"] {
    background-position: 0 -436px;
}

.unit-element-icon[attr="0"] {
    background-position: 0 -471px;
}

.player-meta-container, .boss-meta-container {
    display: flex;
    padding: 4px;
}


/* boss props */

.boss-meta {
    display: grid;
    grid-template-columns: 50px 240px;
    grid-template-rows: auto auto auto;
    grid-template-areas: "icon data"
                        "debuffs debuffs"
                        "buffs buffs";
    max-width: 500px;
}

.unit-icon {
    grid-area: icon;  
    justify-self: center;  
}

.meta-container {
    grid-area: data;
    display: flex;    
    flex-direction: column;    
    
}

.meta-container > div {
    display: flex;
    justify-content: flex-start;
}

.boss-meta .unit-name-container {
    display: -webkit-box;
    display: box;
    -webkit-box-pack: start;
    box-pack: start;
    -webkit-box-align: center;
    box-align: center;
}

.boss-meta .unit-name {
    white-space: nowrap;
    padding-left: 2px;
} 

.boss-meta .unit-hp-progress {    
    width: 100%;
}

.boss-meta .unit-hp-progress-outer {    
    width: 100%;
    height: 15px;        
    position: relative;
}

.boss-meta .unit-hp {
    width: 100%;
    text-align: center;
    z-index: 10;
    position: absolute;
    top: 0;
    font-size: 11px;
    pointer-events: none;
}

.boss-meta .unit-hp-progress-inner {
    background: darkgreen;            
    width: 0%;
    height: 100%;
}

.boss-meta .buffs {
    grid: buffs;
}

.boss-meta .debuffs {
    grid: debuffs;
}

.boss-meta .unit-diamonds {
    grid-area: diamonds;
    display: flex;
}

.boss-meta .unit-mode {
    grid-area: mode;
    justify-self: end;
}

.diamond {
    display: block;
    background: url(http://game-a.granbluefantasy.jp/assets_en/img_mid/sp/raid/parts-s2b54ccff49.png) no-repeat;    
    width: 17px;
    height: 15px;
}

.diamond[isFilled="0"][isBreak="0"] {
    background-position: 0px -5021px;
}

.diamond[isFilled="0"][isBreak="1"] {
    background-position: 0px -5045px;
}

.diamond[isFilled="1"][isBreak="0"] {
    background-position: 0px -4773px;
}

.diamond[isFilled="1"][isBreak="1"] {
    background-position: 0px -4797px;
}

/* player props */


.player-meta {
    position: relative;
    width: 180px;
    height: 150px;
    z-index: 15;
}

.player-meta .unit-name {
    position: absolute;
    top: 1px;
    left: 78px;
}

.player-meta .unit-element {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 15;
}

.player-meta .unit-hp[color="green"] {
    color: #f2eee2;
    text-shadow: 0 0 1px #0c320d, 0 0 1px #0c320d, 0 0 1px #0c320d, 0 0 1px #0c320d, 0 0 2px #0c320d, 0 0 2px #0c320d, 0 0 2px #0c320d, 0 0 2px #0c320d;
}

.player-meta .unit-hp {    
    position: absolute;         
    text-align: right;
    align-self: center;
    top: 90px;
    width: 72px;
    z-index: 16;
    font-size: 12px;
    display: block;    
}

.player-meta .unit-hp-progress-outer {
    display: block;    
    background: rgba(21,15,15,0.7);
    width: 70px;
    height: 15px;
    position: absolute;
    top: 90px;
    left: 2px;    
    z-index: 15;
    overflow: hidden;
}

.player-meta .unit-hp-progress-inner[color="green"] {
    background: darkgreen;        
    width: 70px;
    height: 7px;
}

.player-meta .unit-hp-progress-inner {
    width: 0%;
    height: 100%;
}

.player-meta .unit-ca-label {
    display: block;
    background: url(http://game-a.granbluefantasy.jp/assets_en/img_mid/sp/raid/parts-s2b54ccff49.png) no-repeat 0 -3320px;
    -webkit-background-size: 268px 3525px;
    background-size: 268px 3525px;
    width: 17px;
    height: 10px;
    position: absolute;
    top: 73px;
    left: 0px;
    z-index: 15;
}

.player-meta .unit-ca-progress-outer {
    background: rgba(21,15,15,0.7);
    display: block;        
    width: 40px;
    height: 6px;
    position: absolute;
    top: 115px;
    left: 10px;
    z-index: 15;
    overflow: hidden;
}

.player-meta .unit-ca-progress-outer .unit-ca-progress-100 {
    background: #c27a18;        
    width: 0%;
    height: 100%;
}

.player-meta .unit-ca-progress-outer .unit-ca-progress-100full {
    background:yellow;        
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 16;
    display: none;
}

.player-meta .unit-ca-progress-outer .unit-ca-progress-200 {
    background: red;    
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 17;
    width: 0%;
    height: 100%;
}

.player-meta .unit-ca-progress-outer .unit-ca-progress-200full {
    background: orangered;        
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 18;
    display: none;
}

.player-meta .unit-ca-progress-outer .unit-ca-progress-disabled {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 20;
    background: rgba(21,15,15,0.5);
    display: none;
}

.player-meta .unit-ca-value {
    position: absolute;
    top: 109px;
    left: 2px;
    width: 70px;
    text-align: right;
    z-index: 20;
    color: #f2eee2;
    text-shadow: 0 0 1px #c27a18, 0 0 1px #c27a18, 0 0 1px #c27a18, 0 0 1px #c27a18, 0 0 2px #c27a18, 0 0 2px #c27a18, 0 0 2px #c27a18, 0 0 2px #c27a18;
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    font-size: 12px;
}

.player-meta .unit-skill-label {
    display: block;
    background: url(http://game-a.granbluefantasy.jp/assets_en/img_mid/sp/raid/parts-s2b54ccff49.png) no-repeat 0 -3074px;
    -webkit-background-size: 268px 3525px;
    background-size: 268px 3525px;
    width: 25px;
    height: 8px;
    position: absolute;
    top: 82px;
    left: 2px;
    z-index: 15;
}

.player-meta .unit-skill-container {
    position: absolute;
    top: 130px;
    left: 3px;
    z-index: 15;
    width: 69px;
    display: -webkit-box;
    display: box;
    -webkit-box-pack: justify;
    box-pack: justify;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 2px;
}

.unit-skill-state {
    display: block;
    background: url(http://game-a.granbluefantasy.jp/assets_en/img_mid/sp/raid/parts-s2b54ccff49.png) no-repeat;    
    width: 15px;
    height: 15px;
}

.unit-skill-state[state="0"] {    
    background-position: 0 -5110px;
}

.unit-skill-state[state="1"] {    
    background-position: 0 -5075px;
    color: white;
}

.unit-skill-state[state="2"][type="0"] {    
    background-position: 0 -4861px;
}

.unit-skill-state[state="2"][type="1"] {    
    background-position: 0 -4708px;
}

.unit-skill-state[state="2"][type="2"] {    
    background-position: 0 -4750px;
}

.unit-skill-state[state="2"][type="3"] {    
    background-position: 0 -4729px;
}

.unit-skill-state[state="2"][type="4"] {
    background-position: 0 -4819px;
}

.unit-skill-state[state="2"][type="5"] {    
    background-position: 0 -4750px;
}

.player-meta .buffs {    
    position: absolute;
    bottom: 30px;    
    height: 60px;
    right: 2px;
    left: 76px;
}

.player-meta .debuffs {    
    position: absolute;
    bottom: 02px;    
    height: 26px;
    right: 2px;
    left: 76px;
}





/*
.player-meta .unit-icon {
    height: 100px;
}
*/
